@font-face {
  font-family: 'Brandon Text Black';
  src: url(./fonts/BrandonText-Black.woff2) format('woff2'),
    url(./fonts/BrandonText-Black.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Text Bold';
  src: url(./fonts/BrandonText-Bold.woff2) format('woff2'),
    url(./fonts/BrandonText-Bold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Text Medium';
  src: url(./fonts/BrandonText-Medium.woff2) format('woff2'),
    url(./fonts/BrandonText-Medium.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Text Regular';
  src: url(./fonts/BrandonText-Regular.woff2) format('woff2'),
    url(./fonts/BrandonText-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Text Regular Italic';
  src: url(./fonts/BrandonText-Regularitalic.woff2) format('woff2'),
    url(./fonts/BrandonText-Regularitalic.woff) format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon Text Thin';
  src: url(./fonts/BrandonText-Thin.woff2) format('woff2'),
    url(./fonts/BrandonText-Thin.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* SPACING */
  --space-4xs: 2px;
  --space-3xs: 4px;
  --space-2xs: 8px;
  --space-xs: 12px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 40px;
  --space-2xl: 48px;
  --space-3xl: 56px;
  --space-4xl: 64px;
  --space-5xl: 72px;
  --space-6xl: 96px;
  --space-7xl: 128px;

  /* FONT FAMILY */
  --fontfamily: 'Brandon Text', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  /* LINE HEIGHT */
  --line-sm: 1;
  --line-md: 1.2;
  --line-lg: 1.5;
  --line-xl: 1.75;

  /* FONT SIZE */
  --size-root: 16px;
  --size-3xs: 10px;
  --size-2xs: 11px;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-md: 1.125rem;
  --size-lg: 1.25rem;
  --size-xl: 1.5rem;
  --size-2xl: 1.75rem;
  --size-3xl: 2rem;

  /* FONT WEIGHT */
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 600;

  /* BASE COLORS */
  --color-white: #fff;
  --color-gray-1: #f9f9f9;
  --color-gray-2: #e5e5e5;
  --color-pink-1: #d8c6d9;
  --color-pink-2: #a54aa5;
  --color-pink-3: #6e3371;
  --color-blue-1: #acb6cb;
  --color-blue-2: #475569;
  --color-blue-3: #344155;
  --color-gold-1: #d1c5b6;
  --color-gold-2: #7b5d6b;
  --color-gold-3: #674957;

  --color-whatsapp: #2ace3d;
  --color-accent: var(--color-pink-2);
  --color-text: #555555D;
  --color-base: var(--color-gray-1);

  /* BORDER RADIUS */
  --border-radius-top: 16px 16px 0 0;
  --border-radius-full: 999px;

  /* SHADOWS */
  --shadow-1: 0 0 4px 4px rgba(0, 0, 0, 0.05);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-base);
  font-family: var(--fontfamily);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--weight-bold);
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-size: var(--size-3xl);
}

h2 {
  font-size: var(--size-lg);
  text-transform: uppercase;
  margin-top: var(--space-lg);
  margin-bottom: var(--space-sm);
}

h3 {
  font-size: var(--size-md);
  font-weight: var(--weight-medium);
  margin-top: var(--space-sm);
  margin-bottom: var(--space-2xs);
}

p {
  font-weight: var(--weight-regular);
  line-height: 1.5;
  color: var(--color-text);
  margin-top: 0px;
  margin-bottom: var(--space-sm);
}

ul {
  padding-left: 16px;
  margin-top: 0;
  margin-bottom: var(--space-lg);
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: var(--color-gray-2); /* old IE */
  background-color: var(--color-gray-2); /* Modern Browsers */
}

.weight-bold {
  font-weight: var(--weight-bold);
}
.weight-medium {
  font-weight: var(--weight-medium);
}

.style-italic {
  font-style: italic;
}

.color-accent {
  color: var(--color-accent);
}

#app {
  width: 100%;
  height: 100%;
  background: var(--color-base);
}
